{% extends 'key/base.html' %} 
{% block content %}
<!-- Header -->
<header class="w3-container w3-white w3-center " style="padding:300px 100px">
    <p class="w3-xlarge">History</p>
    <!-- Hide this text on small devices -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID Booking</th>
                <th>Booking Name</th>
                <th>Date</th>
                <th>Time Start</th>
                <th>Time Stop</th>
                <th>People</th>
                <th>Activity</th>
                <th>Building</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>CSCamp</th>
                <th>2020-12-01</th>
                <th>09:00:00</th>
                <th>18:00:00</th>
                <th>30</th>
                <th>กิจกรรมคณะ</th>
                <th>พระจอม201</th>
                <th>not approve</th>
                <!-- {% for i in Book %}
                    <th>{{ i.IDBooking }}</th>
                    <th>{{ i.NameBooking }}</th>
                    <th>{{ i.DateBook }}</th>
                    <th>{{ i.TimeStart }}</th>
                    <th>{{ i.TimeStop }}</th>
                    <th>{{ i.People }}</th>
                    <th>{{ i.IDAct }}</th>
                    <th>{{ i.IDBuilding }}</th>
                    <th>{{ i.Status }}</th>
                {% endfor %} -->
            </tr>
            <tr>
                <th>2</th>
                <th>SE test</th>
                <th>2020-12-04</th>
                <th>13:30:00</th>
                <th>16:30:00</th>
                <th>24</th>
                <th>การเรียนการสอน</th>
                <th>พระจอม203</th>
                <th>approved</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Lab Chem</th>
                <th>2020-12-06</th>
                <th>10:00:00</th>
                <th>16:30:00</th>
                <th>4</th>
                <th>การเรียนการสอน</th>
                <th>จุฬาภรณ103</th>
                <th>approved</th>
            </tr>
        </tbody>
    </table>
       
</header>

{% endblock %}